h1 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 60px;
}

h2 {
    font-size: 36px;
    margin-bottom: 35px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}