

#root {
    max-width: none;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 50px auto;
    padding: 24px;
}

.logo {
    padding: 0;
}

.logo:hover {
    filter: none;
}

.primary-color {
    color: $primary-color;
}

.color-text {
    color: $color-text;
}

nav {
    padding: 0 24px;
    margin: 0 auto;

    a {
        color: #fff;
    }
}

nav a:hover {
    color: $primary-color;
}

/* Basic */

.header {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}


.error {
    color: #cc0000;
}

.focus\:outline-indigo-500,
.focus\:outline-indigo-600 {
    &:focus {
        outline-color: #d1d5dc;
    }
}

.card {
    width: 28%;
    margin: 0 30px 45px 30px;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
        margin: 0 0 30px 0;
    }
}