

#root {
    max-width: none;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 50px auto;
    padding: 24px;
}

.logo {
    padding: 0;
}

.logo:hover {
    filter: none;
}

.primary-color {
    color: $primary-color;
}

.color-text {
    color: $color-text;
}

nav {
    max-width: 1440px;
    padding: 0 24px;
}

nav a:hover {
    color: $primary-color;
}

.error {
    color: #cc0000;
}

.focus\:outline-indigo-500,
.focus\:outline-indigo-600 {
    &:focus {
        outline-color: #d1d5dc;
    }
}

.card {
    width: 25%;
}